<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AQMS PDL App{% endblock %}</title>
    <link rel="stylesheet" href="static/styles/styles.css">
    <link rel="stylesheet" href="static/styles/table_styles.css">
    <link rel="stylesheet" href="static/styles/nav_styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/static/styles/sorttable.js"></script>
</head>

    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        <!--
        nav a {
            color: #d64161;
            font-size: 1em;
            margin-left: 50px;
            text-decoration: none;
        }
        -->

        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }
        .alert_msg {
            color: #970020;
            text-align: left;
        }

    </style>
</head>
<body>
  <!--
    <nav>
      <div class="topnav">
        <a href="/">AssocEvents</a>
        <a class="active" href="events">Events</a>
        <a class="filters" href="filters">Filters</a>
        <a href="#about">About</a>
      </div>
    </nav>
    <hr>
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    -->
    <div class="content">
        {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}
        </div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>
