{% extends 'base.html' %}

{% block content %}
  <nav>
    <div class="topnav">
      <a href="/">AssocEvents</a>
      <a href="events">Events</a>
      <a class="active" href="eventprefmag">Eventprefmag</a>
      <a href="filters">Filters</a>
      <a href="magprefpriority">Magprefpriority</a>
    </div>
  </nav>

{% set fields = ['evid', 'event_auth', 'magid', 'mag', 'magtype',
                 'mag_auth', 'lddate',
                  ] %}

  <form method="post">
    <table class="event-table sortable">
      <thead>
        <tr>
    {% for field in fields %}
        <th>{{field}}</th>
    {% endfor %}
        </tr>
      </thead>

    <tbody>

    {% set ii = 1 %}
    {% for message in query_rows %}
    <!-- MTH: tried using ii%2 ==0 but the loop counter ii was not incrementing!-->
    <!--
       {% if ii % 2 == 0 %}
          <tr class="hover">
       {% else %}
          <tr class="hover even">
       {% endif %}
     -->

       <!-- but this works: -->
        <tr class="{{ loop.cycle('hover', 'hover even') }}">

        {% for field in fields %}
        <!--
          <td>{{ message[field]}}</td>
          -->

          {% if field  == 'mag' %}
            <td>{{ "%.2f" | format(message[field]|float) }}</td>
          {% else %}
            <td>{{ message[field] }}</td>
          {% endif %}

        {% endfor %}
      </tr>
      {% set ii = ii + 1 %}
    {% endfor %}

    </tbody>
    </table>

    <div class="center">
      <button name="eventprefmag" value="reload">Reload Table</button>
    </div>
  </form>

{% endblock %}
