{% extends 'base.html' %}

{% block content %}
  <nav>
    <div class="topnav">
      <a href="/">AssocEvents</a>
      <a href="events">Events</a>
      <a href="eventprefmag">Eventprefmag</a>
      <a class="active" href="filters">Filters</a>
      <a href="magprefpriority">Magprefpriority</a>
    </div>
  </nav>

    <form method="post">
      <table class="event-table sortable">
        <thead>
          <th style="width:20%; border-width:0;"></th>
          <th style="width:20%; border-width:0;">Select Filter(s)</th>
          <th style="width:35%;; border-width:0;">Filter_min -to- Filter_max</th>
          <th style="text-align:left; border-width:0;">Message</th>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td style="text-align: left; padding-left: 10%;"><input type="checkbox" id="limit_maxrows" name="limit_maxrows" {{ session['limit_maxrows'] }}>Limit MaxRows</input></td>
          <td>
            <input type="number" id="max_rows" name="max_rows"  min="1" placeholder="50" value={{ session['max_rows'] }}></input>
          </td>
          <td class="alert_msg">{{session['row_errors']}}</td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left; padding-left: 10%;"><input type="checkbox" id="date_checked" name="date_checked" {{ session['date_checked'] }}>Date Range</input></td>
          <td>
            <input type="date" id="min_date" name="min_date"  min="1970/01/01" placeholder="mm/dd/yyyy" value={{ session['min_date'] }}></input> -to- 
            <input type="date" id="max_date" name="max_date"  max="2030/01/01" placeholder="mm/dd/yyyy" value={{ session['max_date'] }}></input>
          </td>
          <td class="alert_msg">{{session['date_errors']}}</td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left; padding-left: 10%;"><input type="checkbox" id="evid_checked" name="evid_checked" {{ session['evid_checked'] }}>Evid Range</input></td>
          <td>
            <!-- placeholder="6300001" min="60000000" max="99999999" pattern="[0-9]+" -->
            <input type="number" id="min_evid" name="min_evid"
                   placeholder="6300001" min="1" max="99999999" pattern="[0-9]+"
                   value={{ session['min_evid'] }}></input> -to- 
            <input type="number" id="max_evid" name="max_evid"
                   placeholder="6400001" min="1" max="99999999" pattern="[0-9]+"
                   value={{ session['max_evid'] }}>
          </td>
          <td class="alert_msg" >{{session['evid_errors']}}</td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left; padding-left: 10%;"><input type="checkbox" id="mag_checked" name="mag_checked" {{ session['mag_checked'] }}>Mag Range</input></td>
          <td>
            <input type="number" id="min_mag" name="min_mag"
                   placeholder="3.5" min="-3" max="10"
                   pattern="[0-9]+([\.,][0-9]+)?" step="0.1"
                   value={{ session['min_mag'] }}></input> -to- 
            <input type="number" id="max_mag" name="max_mag"
                   placeholder="6.5" min="-3" max="10"
                   pattern="[0-9]+([\.,][0-9]+)?" step="0.1"
                   value={{ session['max_mag'] }}>
          </td>
          <td class="alert_msg" >{{session['mag_errors']}}</td>
        </tr>
      </tbody>
      </table>

    <div class="center">
        <button name="action" value="filter">Apply Filters</button>
        <button name="action" value="clear">Clear All</button>
    </div>

  </form>

{% endblock %}
