{% extends 'base.html' %}

{% block content %}
  <nav>
    <div class="topnav">
      <a href="/">AssocEvents</a>
      <a href="events">Events</a>
      <a href="eventprefmag">Eventprefmag</a>
      <a href="filters">Filters</a>
      <a class="active" href="magprefpriority">Magprefpriority</a>
    </div>
  </nav>

  {% set fields = ['region_name', 'datetime_on', 'datetime_off', 'priority', 'magtype', 'auth',
                   'subsource', 'magalgo', 'minmag', 'maxmag', 'minrd', 'maxuncer', 'quality'] %}
  <form method="post">
    <table class="event-table sortable">
      <thead>
        <tr>
    {% for field in fields %}
      <th>{{field}}</th>
    {% endfor %}
        </tr>
      </thead>

    <tbody>

    {% set ii = 1 %}
    {% for message in magprefrows %}
    <!-- MTH: tried using ii%2 ==0 but the loop counter ii was not incrementing!-->
    <!--
       {% if ii % 2 == 0 %}
          <tr class="hover">
       {% else %}
          <tr class="hover even">
       {% endif %}
     -->

       <!-- but this works: -->
        <tr class="{{ loop.cycle('hover', 'hover even') }}">

        {% for field in fields %}
          <td>{{ message[field]}}</td>
        {% endfor %}
      </tr>
      {% set ii = ii + 1 %}
    {% endfor %}

    </tbody>
    </table>

    <div class="center">
      <button name="magpref" value="reload">Reload Table</button>
    </div>
  </form>

{% endblock %}
