* {
     box-sizing: border-box;
}
body, html {
     margin: 0 auto;
     padding: 0;
}

.fieldgroup{
   /*
   float: left;
   width: auto;
   margin-left: 3em;
   display: inline;
   */
}

.center {
  /* The part below works to horizontal center block elements*/
  width: 100%;
  margin: 0 auto;
  /* The part below is critical for inline horizontal centering */
  text-align: center;
}

/* Sortable tables */
table.sortableX thead {
    /*background-color:#eee;*/
    background-color:#03befc;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: red;
}
