
table {
  border-collapse: collapse;
  width: 100%;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  color: #333333;
}

thead {
  /*
  position: -webkit-sticky; 
  position: sticky; 
  */
  top: 0px; 
  z-index: 100;
}

th, td {
  text-align: center;
  padding: 8px;
  border-width: 1px;
}

th {
  border-style: solid;
  border-color: #517994;
  position: sticky; 
  top: 0px; 
}

td {
  background-color: #ffffff;
}

table tr.even td {
  background-color: #DFEBF1;
}
table tr.hover:hover td {
  background-color: #B2CFD8;
}


table.event-table th {
  background-color: #D7B02B;
  position: sticky; 
  top: 0px; 
}
table.event-table td.border-right {
  border-right: 3px dashed #333;
}

table.origin-table {
  border-style: solid;
  border-color: #517994;
}

table.origin-table th {
  background-color: #B8EBFD;
}

table.netmag-table th {
  background-color: #F7DE8A;
}

table.netmag-table td {
  border-style: solid;
  border-color: #517994;
}

/*
table.table-origin tr:nth-child(even) td{
  background-color: #DFEBF1;
}
*/

.left {
  text-align:left;
}
.small {
  width:10px;
}

.CellWithComment{
  position:relative;
}

.CellComment{
  display:none;
  position:absolute;
  z-index:100;
  border:1px;
  /*background-color:white;*/
  /*background-color: #B8EBFD;*/
  background-color:inherit;
  border-style:solid;
  border-width:1px;
  /*border-color:red;*/
  padding:3px;
  /*color:red;*/
  /*top:-40px;*/
  top:-25px;
  /*top:20px;*/
  /*left:20px;*/
  left:-10px;
  font-size:10px;
  font-weight:normal;
}

.CellWithComment:hover span.CellComment{
  display:block;
}

.CellWithCommentBelow{
  position:relative;
}
.CellWithCommentBelow:hover span.CellCommentBelow{
  display:block;
}

.CellCommentBelow{
  display:none;
  position:absolute;
  z-index:100;
  border:1px;
  background-color:inherit;
  border-style:solid;
  border-width:1px;
  padding:3px;
  top:30px;
  left:-10px;
  font-size:10px;
  font-weight:normal;
}

